<script>

    $(document).ready(function() {
         let formDataInputField =
             `<div class="input-group formDataInput">
                <input type="text" class="form-control dataKey">
                <input type="text" class="form-control dataValue">
             </div>`;


         $('.requestBtn').click(function () {
             let method = $(this).text();
             let url = $('#urlInput').val();

             $.ajax({
                 accepts: 'application/json',
                 url: 'api/' + url,
                 method: method,
                 data: getAllKeyValuePairs()
             }).done(function(data, status) {
                 let result = JSON.stringify(data);
                 if(result === "null") {
                     result = '{"error": 404 }';
                 }
                 $('#resultDisplayBox').text(result);
             }).fail(function (jqXHR, textStatus) {
                 $('#resultDisplayBox').text('{"error":' + jqXHR.status + '}');
             });

         });

         // Click the plus button in the add body data dropdown
         $('.addDataBtn').click(function () {
             $('#formDataInput').append(formDataInputField);
         });


         function getAllKeyValuePairs() {
             let data = {};

             $('.dataKey').each(function (index) {
                 let key = $(this).val();
                 let value = $('.dataValue').eq(index).val();

                 if(key.match(/^ *$/) === null && value.match(/^ *$/) === null) {
                     data[key] = value;
                 }
             });

             return data;
         }
    });


</script>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="urlPrepend">api/</span>
  </div>
  <input type="text" class="form-control" id="urlInput" aria-describedby="urlInput" placeholder="products/">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">METHOD</button>
    <div class="dropdown-menu">
      <span class="dropdown-item requestBtn" href="#" id="getRequest">GET</span>
      <span class="dropdown-item requestBtn" href="#" id="postRequest">POST</span>
      <span class="dropdown-item requestBtn" href="#" id="deleteRequest">DELETE</span>
      <span class="dropdown-item requestBtn" href="#" id="putRequest">PUT</span>
    </div>
  </div>
</div>




<span class="showBoxBtn" data-toggle="collapse" href="#helpBox" role="button" aria-expanded="false" aria-controls="helpBox">
  Show API Endpoints
</span>

<span class="showBoxBtn" data-toggle="collapse" href="#postBox" role="button" aria-expanded="false" aria-controls="postBox">
  Add HTTP Body Data
</span>

<div class="collapse" id="helpBox">
  <div class="card card-body">
    Endpoints Guide Here
  </div>
</div>

<div class="collapse" id="postBox">
  <div class="card text-center">
    <div class="card-body">
      <table>
        <tr>
          <td>Key</td><td>Value</td>
        </tr>
      </table>
      <div id="formDataInput">
        <div class="input-group formDataInput">
          <input type="text" class="form-control dataKey" data-pair="0">
          <input type="text" class="form-control dataValue" data-pair="0">
        </div>
      </div>



    </div>
    <div class="card-footer text-muted">
      <span class="addDataBtn">+</span>
    </div>
  </div>

</div>

<div class="form-group">
  <textarea class="form-control" id="resultDisplayBox" rows="15"></textarea>
</div>

