// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.display-4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-style: italic;
}

.display-5 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-style: italic;
}

h2 {
  padding: 30px;
  font-family: 'Roboto Mono', monospace;
}

.showBoxBtn {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px dotted;
  cursor: pointer;
  margin-left:10px;
  margin-right: 5px;
}

#resultDisplayBox {
  margin-top: 20px;
}

.dropdown-item {
  cursor: pointer;
}

input, textarea, #urlPrepend {

  font-family: 'Roboto Mono', monospace;
}

.addDataBtn {
  font-size: 1.4em;
  font-weight: bolder;
  cursor: pointer;
}

table {
  width:100%;
  table-layout: fixed;
}

.formDataInput {
  margin-bottom: 5px;
}